<!DOCTYPE html>

    <head>
        <title>Pokemon</title>
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/pokemon">All Pokemon</a></li>
                    <li><a href="/pokemon/new">Create New Pokemon</a></li>
                </ul>
            </nav>
        </header>

        <main>
