<%- include('partials/header'); -%>

<form method="POST" action="/pokemon">

    <input type="text" name="pokemon_name" />

    <button type="submit">Create Pokemon</button>

</form>

<%- include('partials/footer'); -%>
